/* Yellow: #feda6a;
silver: #d4d4dc;
matteGrey: #393f4d;
darkSlate: #1d1e22; */

body{
    background-color: #1d1e22;
    color: #feda6a;
    font-family: 'Roboto', sans-serif;

}
.page-header {
    background-color:#393f4d;
    color: #feda6a;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 15px;
    height: 100px;
}

.show-details {
    display: none;
}

.show-order {
    display: none;
}

.details-header {
    text-align: center;
    padding-bottom: 60px;
}

.container-form {
    border: 2px solid #feda6a;
    padding: 35px;
    background-color: #393f4d79;
}
